<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Mongoose Dashboard</title>
</head>
<body>
	<div class="ct">
		<div class="header"><a href="/">Home</a></div><br><br>
		<form action="/otters/<%= the_id %>" method="post">
			<label>name:</label>
			<input type="text" name="edit_name"><br><br>
			<label>type:</label>
			<select name="edit_type">
				<option value="affrican">Affrican Clawless Otter</option>
				<option value="european">European Otter</option>
				<option value="giant">Giant Otter</option>
				<option value="northern">Northern River Otter</option>
			</select><br><br>
			<label>favorite food:</label>
			<input type="text" name="edit_food"><br><br>
			<label>Age:</label>
			<input type="text" name="edit_age"><br><br>
			
			<input type="submit" value="Edit">
		</form>
	</div>

</body>
</html>