<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./static/style.css">
	<title>Mongoose Dashboard</title>
</head>
<body>
	<div class="ct">
		<a href="/">Home</a>
		<br>
		<br>
		<h1>Hello! Nice to meet your! my name is <%= that_otter.name %> , I am a <%= that_otter.type %> Otter</h1>
		<h1>I am <%= that_otter.age %> year old and I love <%= that_otter.food %></h1>
		<br>
		<br>
	</div>
</body>
</html>